<!DOCTYPE html>
<html>
<head>
    <title>Login - CBT Exam</title>
</head>
<body>
    <h2>Welcome to CBT Exam</h2>
    <form action="/quiz" method="POST">
        <label>Name:</label><br>
        <input type="text" name="username" placeholder="Enter Full Name" required style="background-color: #f0f8ff; border: 2px solid #007bff; padding: 8px; border-radius: 5px;">

        <label>Matric Number:</label><br>
        <input type="text" name="matric" placeholder="Enter Matric Number" required><br><br>
<button type="submit" style="background-color: #28a745; color: white; border: none; padding: 10px 20px; border-radius: 5px; cursor: pointer; font-size: 16px; font-weight: bold;"> Start Test</button>
    </form>
</body>
</html>
